
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla:ital,wght@1,700&family=Roboto&display=swap'); 

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0 px;
}
.descuento{
    width: 100%;
    height: 23px;
    background-color: #1CD1B0;
    padding-left: 20px;
    top: 2px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

}

.tienda{
    background-color: #00669F;
}

.barra{

}